            <div id="documenter_sidebar">
                <div id="scrollholder" class="scrollholder">
                    <div id="scroll" class="scroll">
                        <ol id="documenter_nav">
                            <li>
                                <a class="current" href="#documenter-1">
                                    <i class="fa fa-file-text-o"></i>
                                    API Reference</a>
                            </li>
                            <li>
                                <a href="#documenter-3">
                                    <i class="fa fa-warning"></i>
                                    Errors
                                </a>
                                <ol>
                                    <li>
                                        <a href="#documenter-3-1">Handling error</a>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <a href="#documenter-4">
                                    <i class="fa fa-table"></i>
                                    Tables</a>
                                <ol>
                                    <li>
                                        <a href="#documenter-4-1">Default Talbe</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-4-2">Exampled Rows</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-4-3">Bordered Table</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-4-4">Contextual Classes</a>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <a href="#documenter-5">
                                    <i class="fa fa-gear"></i>
                                    General</a>
                                <ol>
                                    <li>
                                        <a href="#documenter-5-1">Headings</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-2">Paragraph</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-3">Inline Text Elements</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-4">Alignment and Transformation</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-5">Abbrevations</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-6">Addresses</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-7">Unordered and Ordered List</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-8">Unstyled and Inline list</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-9">Blockquotes</a>
                                    </li>
                                    <li>
                                        <a href="#documenter-5-10">Descriptions</a>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>